---
title: "ቅጽበታዊነት"
slug: reactivity
date: 0006/01/02
number: 6.5
sidebar: true
contents: "ስለሚትዩር ቅጽበታዊ ኮድ ይጥገኝነት ሥርዓት ይማሩ።|ዓላማውን ይረዱ እንዲሁም እንዴት ኮድን ኣብራሪ(declarative) እምደሚያረግ ይረዱ።|ቅጽበታዊ ውሂብን የሚጠቀም የላቀ ኮድ መጠቀምን ይማሩ።"
paragraphs: 20
---

////

////

////

////

~~~js
Posts.find().observe({
  added: function(post) {
    // when 'added' callback fires, add HTML element
    $('ul').append('<li id="' + post._id + '">' + post.title + '</li>');
  },
  changed: function(post) {
    // when 'changed' callback fires, modify HTML element's text
    $('ul li#' + post._id).text(post.title);
  },
  removed: function(post) {
    // when 'removed' callback fires, remove HTML element
    $('ul li#' + post._id).remove();
  }
});
~~~

////

<% note do %>

### `observe()`ን መቼ ነው መጠቀም *ያለብን*?

////

////

<% end %>

### ኣብራሪ ኣኮሄድ

////

////

////

~~~html
<template name="postsList">
  <ul>
    {{#each posts}}
      <li>{{title}}</li>
    {{/each}}
  </ul>
</template>
~~~

////

~~~js
Template.postsList.helpers({
  posts: function() {
    return Posts.find();
  }
});
~~~

////

### የሚትዩር ጥገኝነት መቆጣጠሪያ፡ ኮምፒውቴሽንስ

////

////

////

////

////

### ኮምፒውቴሽን ማሰናዳት

////

~~~js
Deps.autorun(function() {
  console.log('There are ' + Posts.find().count() + ' posts');
});
~~~

////

~~~js
> Posts.insert({title: 'New Post'});
There are 4 posts.
~~~

////
